# Wide to Long Transformation Lab

## intro and objectives

### 0. Load required libraries

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

##Â 1. Let's load some data

### 1.1. COVID-19.

### We load the Wide Format versions of the COVID-19 Dataset. Refer to Lab 1 for more information

In [3]:
covingCasesWideFormatDataFrame = pd.read_csv('https://raw.githubusercontent.com/thousandoaks/Python4DS102/main/data/covingCasesWideFormatDataFrame.csv')

In [4]:
covingDeathsWideFormatDataFrame = pd.read_csv('https://raw.githubusercontent.com/thousandoaks/Python4DS102/main/data/covingDeathsWideFormatDataFrame.csv')

In [5]:
covingCasesWideFormatDataFrame.head()

,dateRep,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,...,United_States_Virgin_Islands,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
0,01/01/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,01/02/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,01/03/2020,0.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,3.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,01/04/2020,25.0,20.0,132.0,6.0,0.0,0.0,0.0,0.0,39.0,...,0.0,24998.0,6.0,24.0,0.0,6.0,NaN,NaN,0.0,1.0
4,01/05/2020,222.0,7.0,158.0,2.0,0.0,0.0,0.0,143.0,82.0,...,0.0,29917.0,13.0,44.0,2.0,0.0,0.0,0.0,9.0,0.0

In [6]:
covingDeathsWideFormatDataFrame.head()

,dateRep,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,...,United_States_Virgin_Islands,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
0,01/01/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,01/02/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,01/03/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,01/04/2020,0.0,3.0,9.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,909.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
4,01/05/2020,4.0,0.0,6.0,0.0,0.0,0.0,0.0,4.0,1.0,...,0.0,2040.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0

###Â The previous COVID-19 DataFrames are presented in the so-called wide format.
### Wide Format DataFrames are quite common in econometric contexts as it is the usual format to represent panel data

<img src="https://github.com/thousandoaks/Python4DS102/blob/main/images/wideformatdataframe.png?raw=1">

## 2 Wide to Long transformation. MELT Operations
#### Pandas provides the method "melt" to tranform DataFrames from long form to wide equivalent.

### 2.1. Let's melt the cases DataFrame

<img src="https://github.com/thousandoaks/Python4DS102/blob/main/images/meltoperation.png?raw=1">

In [7]:
covingCasesWideFormatDataFrame

,dateRep,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,...,United_States_Virgin_Islands,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
0,01/01/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,01/02/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,01/03/2020,0.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,3.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,01/04/2020,25.0,20.0,132.0,6.0,0.0,0.0,0.0,0.0,39.0,...,0.0,24998.0,6.0,24.0,0.0,6.0,NaN,NaN,0.0,1.0
4,01/05/2020,222.0,7.0,158.0,2.0,0.0,0.0,0.0,143.0,82.0,...,0.0,29917.0,13.0,44.0,2.0,0.0,0.0,0.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,31/03/2020,27.0,11.0,73.0,36.0,0.0,0.0,0.0,146.0,50.0,...,NaN,21595.0,29.0,4.0,16.0,3.0,NaN,NaN,6.0,0.0
260,31/05/2020,866.0,23.0,133.0,0.0,7.0,0.0,0.0,795.0,355.0,...,0.0,23297.0,5.0,41.0,90.0,0.0,0.0,23.0,0.0,14.0
261,31/07/2020,71.0,92.0,602.0,4.0,78.0,0.0,0.0,5641.0,354.0,...,0.0,68032.0,6.0,686.0,1288.0,50.0,0.0,15.0,306.0,213.0
262,31/08/2020,19.0,101.0,364.0,0.0,73.0,0.0,0.0,9217.0,124.0,...,5.0,35581.0,15.0,348.0,922.0,0.0,0.0,6.0,123.0,6.0
263,31/12/2019,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [8]:
covingCasesLongFormatDataFrame=covingCasesWideFormatDataFrame.melt(id_vars=["dateRep"],var_name='Country', value_name='cases')

In [9]:
covingCasesLongFormatDataFrame

          dateRep      Country  cases
0      01/01/2020  Afghanistan    0.0
1      01/02/2020  Afghanistan    0.0
2      01/03/2020  Afghanistan    0.0
3      01/04/2020  Afghanistan   25.0
4      01/05/2020  Afghanistan  222.0
...           ...          ...    ...
55435  31/03/2020     Zimbabwe    0.0
55436  31/05/2020     Zimbabwe   14.0
55437  31/07/2020     Zimbabwe  213.0
55438  31/08/2020     Zimbabwe    6.0
55439  31/12/2019     Zimbabwe    NaN

[55440 rows x 3 columns]

### 2.2. Let's melt the deaths DataFrame

<img src="https://github.com/thousandoaks/Python4DS102/blob/main/images/meltoperation2.png?raw=1">

In [10]:
covingDeathsWideFormatDataFrame

,dateRep,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,...,United_States_Virgin_Islands,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
0,01/01/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,01/02/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,01/03/2020,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,01/04/2020,0.0,3.0,9.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,909.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
4,01/05/2020,4.0,0.0,6.0,0.0,0.0,0.0,0.0,4.0,1.0,...,0.0,2040.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,31/03/2020,0.0,2.0,4.0,2.0,0.0,0.0,0.0,4.0,0.0,...,NaN,661.0,0.0,1.0,2.0,0.0,NaN,NaN,0.0,0.0
260,31/05/2020,3.0,0.0,8.0,0.0,0.0,0.0,0.0,8.0,4.0,...,0.0,945.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0
261,31/07/2020,0.0,4.0,14.0,0.0,1.0,0.0,0.0,111.0,10.0,...,0.0,1357.0,0.0,5.0,7.0,0.0,0.0,2.0,3.0,12.0
262,31/08/2020,0.0,5.0,10.0,0.0,0.0,0.0,0.0,96.0,5.0,...,0.0,290.0,0.0,6.0,6.0,0.0,0.0,0.0,3.0,0.0
263,31/12/2019,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [11]:
covingDeathsLongFormatDataFrame=covingDeathsWideFormatDataFrame.melt(id_vars=["dateRep"],var_name='Country', value_name='deaths')

In [12]:
covingDeathsLongFormatDataFrame

          dateRep      Country  deaths
0      01/01/2020  Afghanistan     0.0
1      01/02/2020  Afghanistan     0.0
2      01/03/2020  Afghanistan     0.0
3      01/04/2020  Afghanistan     0.0
4      01/05/2020  Afghanistan     4.0
...           ...          ...     ...
55435  31/03/2020     Zimbabwe     0.0
55436  31/05/2020     Zimbabwe     0.0
55437  31/07/2020     Zimbabwe    12.0
55438  31/08/2020     Zimbabwe     0.0
55439  31/12/2019     Zimbabwe     NaN

[55440 rows x 3 columns]

### 2.3. Let's combine both DataFrames into a single one

#### We join the two DataFrames using dateRep and Country as keys

In [13]:
covingCasesAndDeathsLongFormatDataFrame=pd.merge(covingCasesLongFormatDataFrame,covingDeathsLongFormatDataFrame,on=['dateRep','Country'])

In [14]:
covingCasesAndDeathsLongFormatDataFrame

          dateRep      Country  cases  deaths
0      01/01/2020  Afghanistan    0.0     0.0
1      01/02/2020  Afghanistan    0.0     0.0
2      01/03/2020  Afghanistan    0.0     0.0
3      01/04/2020  Afghanistan   25.0     0.0
4      01/05/2020  Afghanistan  222.0     4.0
...           ...          ...    ...     ...
55435  31/03/2020     Zimbabwe    0.0     0.0
55436  31/05/2020     Zimbabwe   14.0     0.0
55437  31/07/2020     Zimbabwe  213.0    12.0
55438  31/08/2020     Zimbabwe    6.0     0.0
55439  31/12/2019     Zimbabwe    NaN     NaN

[55440 rows x 4 columns]

#### If we need to transform into a 100% Long Form DataFrame:

In [15]:
covingCasesAndDeathsLongFormatDataFrameAlternative=covingCasesAndDeathsLongFormatDataFrame.melt(id_vars=["dateRep",'Country'])

In [16]:
covingCasesAndDeathsLongFormatDataFrameAlternative

           dateRep      Country variable  value
0       01/01/2020  Afghanistan    cases    0.0
1       01/02/2020  Afghanistan    cases    0.0
2       01/03/2020  Afghanistan    cases    0.0
3       01/04/2020  Afghanistan    cases   25.0
4       01/05/2020  Afghanistan    cases  222.0
...            ...          ...      ...    ...
110875  31/03/2020     Zimbabwe   deaths    0.0
110876  31/05/2020     Zimbabwe   deaths    0.0
110877  31/07/2020     Zimbabwe   deaths   12.0
110878  31/08/2020     Zimbabwe   deaths    0.0
110879  31/12/2019     Zimbabwe   deaths    NaN

[110880 rows x 4 columns]